





// begin 分页
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
// end 分页

// h1{
//     color: red;
//     voice-family:male;
//     richness:80;
//     cue-before:url("beep.au")
// }
